.main {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
}
.homeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  gap: 40px;
}
.textWrapper {
  flex-direction: column;
  max-width: 600px;
  margin-right: 40px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #75b5fb;
  margin-top: 60px;
  text-align: center;
}

.description {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 24px;
}

.imageWrapper {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.imageWrapper img {
  width: 100%;
  max-width: 450px;
  height: auto;
}
