.container {
  display: flex;
  min-height: 100vh;
  padding: 1rem;
  gap: 2rem;
  margin-top: 32px;
  justify-content: center;
}

.sidebar {
  width: 200px;
  flex-shrink: 0;
}

.main {
  flex: 1;
  max-width: 1440px;
  align-items: center;
}
